@import "variables";

#gm-frontend-gallery {
  .gm-gallery-light-box {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba($themeColor1,.8);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &-content {
      width: 100%;
      height: 100%;
      background-color: $themeColor2;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr min-content;
      z-index: 1;

      @media (min-width: $medium) {
        width: 80%;
        height: 80%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
      }

      &-col-1,
      &-col-2 {
        padding: .5rem;
      }

      &-col-1 {
        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
          max-height: 100%;
          max-width: 100%;
        }
      }
      &-col-2 {
        display: grid;
        grid-template-rows: 1fr min-content;
        &-text {
          display: grid;
          grid-template-rows: min-content 1fr;
          &-title {

          }
          &-content {
          }
        }
        &-images {
          display: grid;
          grid-template-rows: 1fr;
          grid-template-columns: repeat(5, 1fr);
          grid-gap: .2rem;
          cursor: pointer;

          img {
            &.active {
              outline: 2px solid $themeColor3;
            }
          }
        }
      }
    }
    &-navigation {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      z-index: 0;

      div {
        color: $themeColor2;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: 100%;
        width: 10%;
        font-size: 2rem;

        &:last-child {
          margin-left: auto;
        }
      }
    }
  }
}