@import "../../utilities/variables";

.gm-frontend-gallery__detail {
  display: flex;
  justify-content: center;
  //align-items: center;
  &__main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'col-1 col-2';
    height: inherit;
    width: 90%;
    overflow-y: scroll;
    box-shadow: none;
  }
  &__col-1 {
    grid-area: col-1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    grid-template-areas: 'selected-image attached-images';
    &__selected-image {
      grid-area: selected-image;
    }
    &__attached-images {
      grid-area: attached-images;
      height: 10rem;
      img {
        max-height: 100%;
        max-width: 20%;
        padding: .5rem;

        &:first-child {
          padding: .5rem .5rem .5rem 0;
        }
        &:last-child {
          padding: .5rem 0 .5rem .5rem;
        }
      }
    }
  }
  &__col-2 {
    grid-area: col-2;
  }
  &__col-1,
  &__col-2 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  &__close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
  }
}