@import '../../utilities/variables';

.gm-frontend-gallery {
  .gm-gallery-post {
    display: inline-flex;
    position: relative;
    cursor: pointer;

    &-content {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: $themeColor1;
      opacity: 0;
      color: $themeColor2;
      padding: .5rem;
      transition: opacity .2s;

      &-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
      }

      @media (min-width: $medium) {
        &:hover {
          opacity: .8;
        }
      }
    }
  }
}
