@import "variables";

#gm-frontend-gallery {
  .gm-gallery-light-box-container {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba($themeColor1,.8);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .gm-gallery-light-box {
      width: 100%;
      height: 100%;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr min-content;
      grid-column-gap: 1rem;
      display: grid;
      background-color: $themeColor2;
      padding: 1rem;

      &.show-details {
        .gm-gallery-light-box-text {
          opacity: 1;
          z-index: 1;
        }
        .gm-gallery-light-box-navigation {
          opacity: 0;
        }
      }

      &-main-image {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1;
        grid-row: 1;
        position: relative;
        img {
          object-fit: contain;
          max-height: 100%;
          max-width: 100%;
          height: 100%;
        }
      }
      &-navigation {
        position: absolute;
        display: flex;
        align-items: flex-start;
        width: 100%;
        padding: .25rem;
        z-index: 1;

        &-left,
        &-right {
          background-color: $themeColor1;
          color: $themeColor2;
          opacity: .5;
          font-weight: bold;
          border-radius: .3rem;
          line-height: 0;
          height: 1.5rem;
          width: 1.5rem;
          display: flex;
          align-items: center;
          padding-bottom: 5px;
          justify-content: center;
        }

        &-right {
          margin-left: auto;
        }
      }
      &-text {
        grid-column: 1;
        grid-row: 1;
        display: grid;
        grid-template-rows: min-content 1fr;
        opacity: 0;
        transition: opacity .2s;
        background-color: rgba($themeColor1, .8);
        color: $themeColor2;
        padding: 1rem .25rem;
        z-index: 0;
      }
      &-details {
        grid-column: 1;
        grid-row: 2;
      }
      &-images {
        grid-column: 1;
        grid-row: 3;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: .2rem;

        img {
          max-height: 100px;
          cursor: pointer;
          &.active {
            outline: 2px solid $themeColor3;
          }
        }
      }

      @media (min-width: $medium) {
        width: 80%;
        height: 80%;
        grid-template-columns: 1fr 1fr;

        &-main-image {
          grid-column: 1;
          grid-row: 1 / span 2;
        }
        &-text {
          grid-column: 2;
          grid-row: 1;
        }
        &-images {
          grid-column: 2;
          grid-row: 2;
        }
      }
    }
    &-navigation {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      z-index: 0;

      div {
        color: $themeColor2;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: 100%;
        width: 10%;
        font-size: 2rem;

        &:last-child {
          margin-left: auto;
        }
      }
    }
  }
}