// Colors
$transparent: transparent;
$black: #000000;
$white: #FFFFFF;
$grey: #cccccc;
$active: #5bc0de;
$danger: #8B0000;
$info: #ffc107;

$themeColor0: $transparent;
$themeColor1: $black;
$themeColor2: $white;
$themeColor3: $grey;
$themeColor4: $active;
$themeColor5: $danger;
$themeColor6: $info;

// Breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;