.gm-frontend-gallery-post-image {
  height: 100%;
  cursor: pointer;

  img {
    max-width: unset;
  }
  button {
    &:hover {
      background: unset;
    }
  }
  &-upload {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;

    &:hover {
      .gm-frontend-gallery-post-image-upload-trash {
        opacity: .5;

        &:hover {
          opacity: 1;
        }
      }
    }

    &-trash {
      position: absolute;
      top: 1rem;
      right: 1rem;
      z-index: 1;
      opacity: 0;
      transition: opacity .25s;
    }

    &-main {
      grid-row: 1 / span 2;
      grid-column: 1;
      max-height: 300px;
      width: 100%;
      object-fit: contain;
      z-index: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      &-icon {
        i.v-icon {
          font-size: 5rem;
        }
      }
    }

    &-file {
      display: none;
    }
  }
}