@import "../../utilities/variables";

#gm-frontend-submit {
  .gm-frontend-gallery-post {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 300px;
    border: solid 1px $themeColor3;
    border-radius: 0.2rem;
    margin: 1rem 0;
    padding: 1rem;
    grid-column-gap: .5rem;

    &-trash {
      grid-row: 1;
      grid-column: 1;
      display: flex;
      justify-content: flex-end;
      z-index: 1;
      height: 2rem;

      &--full {
        grid-column: 1 / span 2;
      }

      button {
        background-color: unset;
        color: $themeColor1;
        padding: .5rem;
      }
    }

    &-left {
      grid-column: 1;
      grid-row: 1 / span 3;
      display: grid;
      grid-template-rows: 1fr min-content;
    }

    &-right {
      grid-column: 2;
      grid-row: 1 / span 2;

      form {
        height: 100%;
      }
    }
  }
}