#gm-frontend-submit {
  button {
    &.gm-frontend-submit-post-button {
      .gm-frontend-submit-post-button-main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        span {
          grid-row: 1;
          grid-column: 1;
          visibility: hidden;

          &.gm-frontend-submit-post-button-main--show {
            visibility: visible;
          }
        }
      }
    }
  }
}