#gm-frontend-submit {
  .gm-frontend-submit-post {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border: 1px solid grey;
    border-radius: 0.2rem;
    margin: 1rem 0;
    padding: .5rem;
    grid-column-gap: .5rem;

    &-trash {
      grid-column: 1 / span 2;
      grid-row: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &-left {
      grid-column: 1;
      grid-row: 2;
    }

    &-right {
      grid-column: 2;
      grid-row: 2;
    }

    &-upload {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
}