#gm-frontend-submit {
  .gm-frontend-submit-post {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border: 1px solid grey;
    border-radius: .2rem;
    margin: 1rem 0;

    &-upload {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
}